<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <h1>DAILY HARVEST</h1>
            <form method="POST">
                <input class="input-field" type="text" name="search" placeholder="Search an Ingredient" required/>
                <input class="submit-btn" type="submit" name="submit" value="SEARCH"/>
            </form>

            <div class="product-div">
                {% for product in products %}
                  <ul class="product-ul">
                        <li><img id="icon" src="https://img.icons8.com/ios/32/000000/restaurant.png"/>{{ product.name }}</li><br/>
                  </ul>
                {% endfor %}
                {% for search in not_found %}
                <h2>"{{ search.name }}" <em>Not Found</em></h2>
                {% endfor %}
            </div>
      </div>
  </body>
</html>