<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>
  <body>
    <h1>DAILY HARVEST</h1>
        <input type="text" placeholder="Search an Ingredient"/>
        <input type="submit" value="Search"/>
        <div>
            {% for product in products %}
          <ul>
            <li>{{ product.name }}</li>
          </ul>
            {% endfor %}
        </div>
    </form>
  </body>
</html>